{% extends 'base.twig' %}

{% block title %}Simple form{% endblock %}

{% block content %}
    <form action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">
        <input type="email"
               name="email"
               value="{% if formData.email %}{{ formData.email }}{% endif %}">
        <input type="password"
               name="password"
               value="{% if formData.password %}{{ formData.password }}{% endif %}">
        <input type="submit" value="Login">
        {% if errorMessage %}
            <p style="color: red;">{{ errorMessage }}</p>
        {% endif %}
    </form>
    <a type="button" value="Register" href="/register">Register</a>
{% endblock %}