{% extends 'base.twig' %}

{% block title %}Simple form{% endblock %}

{% block content %}
    <form action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">
        <input type="email"
               name="email"
               value="{% if formData.email %}{{ formData.email }}{% endif %}">
        <input type="password"
               name="password"
               value="{% if formData.password %}{{ formData.password }}{% endif %}">
        {% if formErrors.email %}
            <p style="color: red;">{{ formErrors.email }}</p>
        {% endif %}
        <input type="submit" value="Login">
    </form>
    <a type="button" value="Register" href="/register">Register</a>
{% endblock %}